/* quiz container */
.section{
   height: 200vh;
  width: 100%;
  background: #f7f5fb;
  text-align: center;
}
.quiz-container {
  display: flex;
/*   height: 100%; */
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  margin: 0 auto;
  padding: 30px;

}

/* question */
.question {
  font-size: 18px;
  font-weight: bold;
  margin-block: 10px;
  color: #293264;
}

/* answers list */
.answers {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding-bottom: 40px;
  margin-block: 30px;
  border-bottom: 2px solid #ddd;
  width: 100%;
}

/* answer */
.answer {
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid #293264;
  border-radius: 16px;
  cursor: pointer;
  width: 20%;
  text-align: center;
  margin: 0 auto 5px ;
   color: #293264;
}

/* selected answer */
.selected {
  background-color: #c9c9fd;
}
.btn{
  border: none;
background: #4D5B9E;
border-radius: 16px;
/*   width: 200px; */
  padding: 15px;
  font-family: 'Inter';
font-weight: 500;
font-size: 1.1rem;
color: #F5F7FB;
  cursor: pointer;
 }
.btn:focus{
outline: none;
}
.btn:active{
  box-shadow: inset 5px 5px 4px -3px rgba(0,0,0.6);
}
/* media queries */
@media (max-width: 768px) {
  /* quiz container */
  .quiz-container {
    width: 100%;
  }

 

  
}
